@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;

  --foreground: var(--white);
  --background: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--black);
    color: var(--white);
  }
}

body {
  font-family: Helvetica, sans-serif;

  background-color: var(--background);
  color: var(--foreground);
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  25% {
    transform: translateY(-12%) rotate(-4deg) translateX(-4%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%) rotate(4deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

button {
  transition: all 150ms ease-in-out;

  &:not(:disabled) {
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.animated-focus {
  outline: 2px solid transparent;
  transition: all 100ms ease;
}

.animated-focus:focus {
  outline-color: #aaa;
  outline-offset: 2px;
}
