@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;
  --red: tomato;
  --yellow: gold;
  --green: mediumseagreen;

  --foreground: var(--black);
  --background: var(--white);

  --muted: color-mix(in srgb, var(--background), var(--foreground) 12%);
  --subtle: color-mix(in srgb, var(--background), var(--foreground) 30%);

  --positive: color-mix(in srgb, var(--green), var(--foreground) 10%);
  --neutral: color-mix(in srgb, var(--yellow), var(--foreground) 10%);
  --negative: color-mix(in srgb, var(--red), var(--foreground) 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--white);
    --background: var(--black);

    --positive: var(--green);
    --neutral: var(--yellow);
    --negative: var(--red);
  }
}

body {
  font-family: Helvetica, sans-serif;

  background-color: var(--background);
  color: var(--foreground);
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  25% {
    transform: translateY(-12%) rotate(-4deg) translateX(-4%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%) rotate(4deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

button {
  transition: all 150ms ease-in-out;

  &:not(:disabled) {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.animated-focus {
  outline: 2px solid transparent;
  transition: all 150ms ease;

  &.animated-focus-round:focus {
    border-radius: 50%;
    box-shadow: 0 0 0 2pt var(--subtle);
  }
}

.animated-focus:focus {
  outline-color: var(--subtle);
  outline-offset: 2px;
}
